
<%= simple_form_for(@character) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :race %>
    <%= f.input :character_class %>
    <%= f.input :background %>
    <%= f.input :alignment %>
    <%= f.input :description %>
    <%= f.input :strength %>
    <%= f.input :dexterity %>
    <%= f.input :constitution %>
    <%= f.input :intelligence %>
    <%= f.input :wisdom %>
    <%= f.input :charisma %>
    <%= f.input :strength_save %>
    <%= f.input :dexterity %>
    <%= f.input :constitution %>
    <%= f.input :intelligence %>
    <%= f.input :wisdom %>
    <%= f.input :charisma %>
    <%= f.input :armor_class %>
    <%= f.input :hit_points %>
    <%= f.input :proficiency_bonus %>
    <%= f.input :abilities %>
    <%= f.input :equipment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
